@charset "utf-8";
/* 도깨비 메인 페이지 미디어쿼리 - media.css */

/**************** 1070px 이하 미디어쿼리 시작 ****************/
@media screen and (max-width:1024px) {
  html{
    font-size: 8px;
  }
  .top{
    height: 120px;
  }
  .gnb ul{
    width: 495px;
  }
  .tmenu > ul > li > a {
    line-height: 1;
  }
  /* 개별서브메누 오버시, 가상요소 서브배경 오버시 */
  /* 첫번째메뉴 - 3개 */
.gnb > ul > li:nth-child(1):hover .smenu, 
.gnb > ul > li.m1:hover::after {
  height: 96px;
  /* 32*3 */
}

/* 세번째메뉴 - 4개 */
.gnb > ul > li:nth-child(3):hover .smenu,
.gnb > ul > li.m2:hover::after {
  height: 128px;
  /* 32*4 */
}

/* 네번째메뉴 - 2개 */
.gnb>ul>li:nth-child(4):hover .smenu,
.gnb > ul > li.m3:hover::after {
  height: 64px;
 /* 32*2 */
}
/* 하단링크 */ 
.blink > ul{
  width: 680px;
}
.info{
  height: auto; /* 높이값 자동전환 */
  padding-bottom: 15px;
}
.brand{
  display: none;
}

}
/**************** 1070px 이하 미디어쿼리 끝 ****************/


/*************** 800px 이하 미디어쿼리 시작 ****************/
@media screen and (max-width:800px) {
  /* 숨기기 */
  /* GNB메뉴, 서브메뉴, 서브메뉴배경 가상요소, 문구이미지, 하단링크 */
  .gnb, .tmenu, #dtxt, .blink/* , .smenu, .gnb > ul > li.bgbx::after */{
    display: none;
  }
  .top, .cont{
    height: auto;
  }
  #logo{
    position: relative;
    z-index: 1;
  }
  .ham{
    display: block;
    z-index: 1; /* 로고보다 위 */
  }
  /* 햄버거 버튼 변경(전체메뉴 보일때만(.top.on일 때만) */
  .top.on .ham{
    color: #fff;
    transform: scale(1.5);
  }
  /* 햄버거 버튼 x버튼으로 변경 */
  .top.on .ham::before{
    content: '×';

  }
  .cat{
    width: 99%;
  }
  .cont{
    padding: 100px 0 30px;
  }
  /* 캐릭터박스 오버시 이미지박스 서로 안겹치게 */
  .cat:hover .ci{
    margin-top: 0;
  }
  .cd h3{
    font-size: 3rem;
    padding: 1.5rem 2rem;
  }
  .cd p{
    padding: 1.7rem;
    font-size: 2rem;
    line-height: 1.6;
    margin: 0;
  }
  .addr address{
    font-size: 1.7rem;
    padding: 1.1rem;
  }
/* 전체메뉴 GNB 변경 */
  .top.on .gnb{
    display: block;
  }
  .gnb{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 50%);
  }
  .gnb > ul{
    width: auto;
    margin-top: 20vh;
  }
  .gnb > ul > li {
    float: none; /* 가로배치 해제 */
    height: 10vh;
    padding: 0;
    text-align: center;
  }
  .gnb > ul > li > a{
    color: #fff;
    font-size: 4vh;/* 폰트사이즈는 높이값에 결정되기 때문에 vh로 써도 가능함  보이는 화면크기의 4vh*/
    line-height: 10vh;
  }
  .gnb > ul > li:hover > a{
    border-bottom-color: #fff;
  }
}

/**************** 1024px 이하 미디어쿼리 끝 ****************/