@charset "utf-8";
/* Info PJ 서브페이지 CSS - sub.css */

/* 공통 외부클래스 불러오기 */
/* 
    import로 파일 합치기
    외부CSS파일에서 다른 외부CSS를 import방식으로 불러올 때 장점 :
    html파일에서 link요소로 호출할 경우 http request(웹요청)이 많아져서 페이지 랜더링 속도가 더뎌짐
    import방식은 한번에 여러 css를 불러올 수 있어서 로딩속도에 유리하다
    - 주의: import는 css파일 상단에 코딩한다
*/
/* @import url(파일주소); */
@import url(common.css);

/* 서브페이지 메인 컨텐츠 */
    #cont{
        padding: 20px;
    }
/* 메인 컨텐츠 공통 경계선 */
    #cont article{
        border-top: 1px solid #ccc;
        margin-top: 25px;
    }
/* 메인 컨텐츠 아래 a요소 공통 */
    /* a태그의 기본세팅을 변경 - 글자색, 밑줄 */
    #cont a{
        color: #222;
        text-decoration: none;
        font-size: 14px;
        font-family: gulim;
    }
    #cont a:hover{
        color: lightseagreen;
        text-decoration: underline;
    }
/* 2-1. 언론사로고 */
.prlogo img{
    height: 32px;
    /* 이미지는 가로, 세로 중 하나만 주면 나머지는 비율에 맞게 자동변경됨 */
}
/* 2-2. 기사제목 */
.atit{
    font-size: 30px;
    font-weight: normal;
    font-family: "굴림","궁서","돋움"; /* 글자체가 있는 순서대로 적용됨 */
    /* 글자간격(자간) : letter-spacing */
    letter-spacing: -2px;
    /* 단어간격 */
    word-spacing: 3px;
    /* 줄바꿈 방지 */
    white-space: nowrap;
}
/* 2-3. 기사사진(+사진설명) */
    .afig{
        margin: 15px 0;
    }
    /* 기사이미지 */
    .afig img{
        width: 100%; /* 부모박스를 기준으로 채움 */
        /* 이미지는 가로, 세로 중 하나만 크기를 지정해주면 나머지는 자동으로 비율을 유지한다 */
    }
/* 이미지 설명 */
    .afig figcaption{
        text-align: center; /* block요소에만 적용됨 , block요소에서 적용해야 내부의 인라인요소의 정렬이 변경된다(인라인에서하면 적용안됨) */
        padding-bottom: 20px;
    }
    /* 이미지 설명글 작은글자*/
    .afig small{
        font-family: "굴림";
        color: #777;
    }
/* 2-4. 기사내용 */
    .atc{
        font-family: "맑은고딕";
        font-style: 17px;
        /* 줄간격 */
        line-height: 1.6;
    }
    /* 인용구 박스 */
    .quote{
        background-color: #ececec;
        /* 배경색 옵션 속성
            1. content-box: 컨텐트 영역에서만 배경색 넣기(border, padding 제외)
            2. padding영역까지만 배경색 넣기(border 제외)
            3. border-box(border영역까지 배경색 넣기(기본값))
        */
        background-clip: content-box; 

        padding: 10px;
    }
    .quote h3{
        text-align: center;
    }
    .quote blockquote{
        font-size: 12px;
        text-indent: 15px;
        /* 글자 양쪽정렬 */
        text-align: justify;
        line-height: 1.7;
    }
    /* 오늘의 작품 */
    .twork{
        text-align: center;
        background-color: #fdffbf;
        background-clip: content-box;
        padding: 20px;
    }
    /* 오늘의 작품 이미지 */
    .twork img{
        width: 200px;
    }
    /* 포토뉴스 이미지 */
    .pnews img{
        /*
        box-shadow: inset hoff voff blur spread #000;
        box-shadow: 내부그림자 X축 Y축 경계흐림 확장 색상;
         */
        box-shadow: 2px 2px 5px #555;
    }

    /* 분야별 주요뉴스에 가상요소로 아이콘 넣기 */
    .secnews dt::before{
        content: '▣';
        color: green;
    }
    .secnews dd::before{
        content: '▶';
        color: lightgreen;
    }
    /* 2-5. 기자소개 */
/* 2-6. 원본기사링크 */